<%- include("partials/header") -%>

<div class="landing">
  <div class="landing-logo">
    <img src="public/images/brand-logo-black.svg" alt="brand-logo">
  </div>
  <div class="left">
    <div class="landing-title">Get <span class="work">work</span> done.</div>
    <div class="landing-msg">Organize your work the way you want it in a simple and effective way.</div>
    <form action="" method="post">
      <button class="btn-get-started" type="submit" name="buttonGetStarted" value="getStarted"
        onclick="this.form.submit();">Get Started</button>
    </form>
    <img class="sheet1" src="public/images/sheet.svg" alt="" srcset="">
    <img class="sheet2" src="public/images/sheet.svg" alt="" srcset="">
    <img class="sheet3" src="public/images/sheet.svg" alt="" srcset="">
    <img class="sheet4" src="public/images/sheet.svg" alt="" srcset="">
    <img class="sheet5" src="public/images/sheet.svg" alt="" srcset="">
  </div>
  <div class="right-bar">
    <div class="landing-headers">
      <a class="anchor-headers" href="/">Home</a>
      <a class="anchor-headers" href="#">About</a>
      <form action="" method="post">
        <button class="btn-get-started2" type="submit" name="buttonGetStarted2" value="getStarted"
          onclick="this.form.submit();">Get Started</button>
      </form>
    </div>
    <div class="right">
    </div>
    <img class="monitor" src="public/images/monitor.svg" alt="monitor" srcset="">
  </div>
</div>
<script src="landing.js"></script>

<%- include("partials/footer") -%>