<%- include("partials/header") -%>

<main>
  <div class="card">
    <div class="card-close"><img src="public/images/close-btn.svg" alt="close button" class="btn-close"></div>
    <div class="card-date">July 26, 2019</div>
    <div class="card-title">Prep Team Meeting</div>
    <div class="card-content" autofocus>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto sunt suscipit
      eligendi in officia dolor ipsum aperiam laboriosam molestias, at amet qui deleniti a, quod quia, soluta
      exercitationem illum corrupti dolore.</div>
  </div>
</main>


<!-- <div class="overlay-note-creator">
  <input class="note-title" placeholder="Title"></input>
  <textarea class="note-content" placeholder="Take a note..." autofocus></textarea>
  <div class="overlay-buttons">
    <button class="btn-creator-add-note">Add note</button>
    <button class="btn-creator-cancel">Cancel</button>
  </div>
</div> -->

<!-- <div class="caution">
  <div class="caution-msg">Are you sure you want to <b>delete</b> this note?</div>
  <div class="btn-caution">
    <button class="btn-caution-yes">Yes</button>
    <button class="btn-caution-no">No</button>
  </div>
</div> -->


<%- include("partials/footer") -%>