@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

body {
  background-color: #f2f4f6;
  margin: 0;
  display: grid;
  grid-template-columns: 20% 23% auto auto 23%;
  grid-template-rows: 8.1% auto 1fr 1fr 1fr;
  grid-template-areas:
    "sidebar  header  header  header  header"
    "sidebar  tabs    tabs    tabs    tabs"
    "sidebar  main    main    main    main"
    "sidebar  main    main    main    main"
    "sidebar  main    main    main    main";
  transition: all 1s;
}

.shrink-sidebar {
  grid-template-columns: 5.8% 23% auto auto auto 23%;
  grid-template-areas:
    "sidebar  header  header  header  header  header"
    "sidebar  tabs    tabs    tabs    tabs    tabs"
    "sidebar  main    main    main    main    main"
    "sidebar  main    main    main    main    main"
    "sidebar  main    main    main    main    main";
}

.top-corner-bar {
  background-color: #121b74;

  -webkit-box-shadow: 0px 6px 10px 3px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: 0px 6px 10px 3px rgba(0, 0, 0, 0.025);
  box-shadow: 0px 6px 10px 3px rgba(0, 0, 0, 0.1);

  display: flex;
  text-align: center;
  align-items: center;

  max-height: 79.3px;
  padding: 22px 0;
}

#hamburger {
  cursor: pointer;
  display: block;
}

.brand-logo {
  margin: 0px 22px 3px;
}

aside {
  grid-area: sidebar;
  background-color: #2d248a;
  transition: 0.5s;
}


aside>div {
  max-height: 79.3px;
  padding: 24px 10px;
  transition: 0.3s;
}

.group:hover {
  background-color: #281f88;
  cursor: pointer;
}

.side-title {
  color: #fff;
  font-size: 18px;
  margin: 1px 11px;
}

.side-icon,
#hamburger {
  margin: 1px 25px;
}

.group {
  display: flex;
  align-content: center;
}

.group-selected {
  background-color: #614ad3;
  transition: 0.3s;
}

.group-selected:hover {
  background-color: #5c46c9;
  cursor: pointer;
}

.left-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  transition: width 1s ease-in;
}

header {
  grid-area: header;
  background-color: #fff;
  padding: 21px 49px;
  -webkit-box-shadow: 0px 6px 10px 3px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: 0px 6px 10px 3px rgba(0, 0, 0, 0.025);
  box-shadow: 0px 6px 10px 3px rgba(0, 0, 0, 0.025);
  z-index: 1;
}

#search-img {
  margin-right: 15px;
}

#search-bar {
  color: #575656;
  font-size: 18px;
  vertical-align: bottom;
  line-height: 34px;
  border: none;
}

#search-bar:focus {
  outline: none;
}

::-webkit-input-placeholder {
  /* Edge */
  color: #3d3c3c;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #3d3c3c;
}

::placeholder {
  color: #3d3c3c;
}

.sections {
  font-size: 18px;
  grid-area: tabs;
  background-color: #f2f4f6;
  display: flex;
  align-content: center;
  align-items: center;
  height: auto;
  margin: 0;
  overflow: hidden;
  transform: translateX(-13px);
}

.tabs {
  grid-area: tabs;
  background-color: #f2f4f6;
  display: flex;
  align-content: center;
  align-items: center;
  margin: 41px 46px 15px 33px;
  z-index: 1;
}

.tab,
.btn-tab-add {
  margin: 0px 30px 0px 30px;
  outline: none;
}
button:focus{
  outline: none;
}

.tab {
  background-color: #f2f4f6;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  border: none;
  background-color: none;
  cursor: pointer;
}

.tab-selected {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 0.2px;
  font-weight: bold;
  color: #fff;
  background-color: #614ad3;
  border: 1px none;
  border-radius: 5px;
  text-align: center;
  vertical-align: bottom;
  line-height: 47px;
  padding: 0px 15px;
}

.tab-selected:hover {
  transition: background-color 0.3s ease-in;
  background-color: #4c3ba5;
  cursor: pointer;
}


.btn-tab-add {
  padding: 9px 9px;
  color: #fff;
  border: 1px none;
  background-color: #9f8bff;
  height: auto;
  width: auto;
  border-radius: 5px;
  outline: none;
  transition: 0.3s;
}

.btn-tab-add img {
  display: block;
  margin: 0;
}

.btn-tab-add:hover {
  background-color: #907cf5;
  cursor: pointer;
}

.btn-note-add {
  z-index: 1;
  position: absolute;
  top: 12%;
  right: 2.6%;
  margin-left: auto;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  border: 1px none;
  background-color: #e42c64;
  height: auto;
  width: auto;
  padding: 16px 35px;
  border-radius: 5px;
  outline: none;
  white-space: nowrap;
  transition: 0.3s;
}

.btn-note-add:hover {
  background-color: #b62450;
  cursor: pointer;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 39%;
  grid-gap: 21px;
  padding: 15px 46px 20px 50px;
  overflow: auto;
  margin-bottom: 20px;
  z-index: 1;
}

/* sidebar collpse */
header,
.tabs,
main,
.bg {
  transition: all 0.3s ease-in;
}

header {
  width: 1820px;
}

.tabs {
  width: 1443px;
}

main {
  width: 1536px;
}

.bg {
  border: 1px NONE #f2f4f6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-37.5%, -50%);
  background-color: #f2f4f6;

  height: 100vh;
  width: 1530px;
  /* z-index: -1; */
  pointer-events: none;


}

.bg-image {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: url("images/bg.svg") no-repeat bottom right;
  z-index: 0;
  pointer-events: none;
}

/* end of sidebar collapse */


.increase-columns {
  grid-template-columns: repeat(5, 1fr);
}

.card {
  border: none;
  border-radius: 5px;
  background-color: #fff;
  padding: 16px 38px 28px;
  transition: 0.3s;
  /* max-height: 270px; */
  z-index: 1;
}

.card:hover {
  transform: translate(0, -2%);
  -webkit-box-shadow: 1px 5px 6px 1.3px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 1px 5px 6px 1.3px rgba(0, 0, 0, 0.26);
  box-shadow: 1px 5px 6px 1.3px rgba(0, 0, 0, 0.26);
  ;
}

.card:active {
  -webkit-box-shadow: 1px 3px 6px 1.3px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 1px 3px 6px 1.3px rgba(0, 0, 0, 0.13);
  box-shadow: 1px 3px 6px 1.3px rgba(0, 0, 0, 0.13);
}

.card,
.btn-note-add,
.btn-tab-add,
.tab-selected {
  -webkit-box-shadow: 1px 3px 6px 1.3px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 1px 3px 6px 1.3px rgba(0, 0, 0, 0.13);
  box-shadow: 1px 3px 6px 1.3px rgba(0, 0, 0, 0.13);
}

.card-close{
  display: block;
  border: none;
  margin-left: auto;
  background-color: #fff;
  outline: none;
}

.btn-close {
  display: block;
  margin-left: auto;
  transform: translate(80%, 43%);
  opacity: 0;
  transition: opacity 0.3s ease-in;
  outline: none;
}

.btn-close:hover {
  cursor: pointer;
}


.caution {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 38px 36px;
  border: none;
  -webkit-box-shadow: 1px 3px 6px 1.3px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 1px 3px 6px 1.3px rgba(0, 0, 0, 0.13);
  box-shadow: 1px 3px 6px 1.3px rgba(0, 0, 0, 0.13);
  z-index: 2;
}

.caution-msg {
  font-size: 19px;
}

.btn-caution {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.btn-caution-yes,
.btn-caution-no {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  padding: 9px 18px 12px;
  margin: 30px 20px 0;
  -webkit-box-shadow: 1px 3px 6px 1.3px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 1px 3px 6px 1.3px rgba(0, 0, 0, 0.13);
  box-shadow: 1px 3px 6px 1.3px rgba(0, 0, 0, 0.13);
}

.btn-caution-no {
  background-color: #614ad3;
  transition: 0.3s;
}

.btn-caution-no:hover {
  cursor: pointer;
  background-color: #4937a0;
}

.btn-caution-no:active {
  outline: none;
}

.btn-caution-yes {
  background-color: #907cf5;
  transition: 0.3s;
}

.btn-caution-yes:hover {
  cursor: pointer;
  background-color: #7464c4;
}

.btn-caution-yes:active {
  outline: none;
}

.appear {
  opacity: 1;
}

.disappear {
  opacity: 0;
}

.card-date {
  font-size: 14px;
  color: #444242;
  padding-bottom: 8px;
}

.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 7px;
  word-break: break-word;
}

.card-content {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  max-width: 300px;
  text-align: justify;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  cursor: default;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  display: none
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9f8bff;
  margin: 5px 5px;
  border-radius: 5px;
  transition: 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #614ad3;
}

.overlay-note-creator {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  position: absolute;
  z-index: 2;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 700px;
  min-height: auto;
  height: auto;

  width: 350px;
  padding: 6px 0px;
  font-size: 18px;
  -webkit-box-shadow: 1px 5px 6px 1.3px rgba(0, 0, 0, 0.26);
  ;
  -moz-box-shadow: 1px 5px 6px 1.3px rgba(0, 0, 0, 0.26);
  box-shadow: 1px 5px 6px 1.3px rgba(0, 0, 0, 0.13);

}

.overlay-note {
  color: #5843c0;
}

.note-creator-title {
  margin: 35px 0px auto 0px;
  font-weight: bold;
  font-size: 28px;
}

.note-title,
.note-content {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  display: block;
  border: 1px none #6b6868;
  border-radius: 5px;
  width: 100%;
  word-break: break-word;
}

.note-title {
  font-size: 19px;
  font-weight: bold;
  padding: 30px 34px 14px 34px;
}

.note-title:focus,
.note-content:focus {
  outline: none;
  color: black;

}

.note-content,
textarea {
  resize: none;
  overflow: auto;
  max-height: 500px;
  min-height: 50px;
  height: auto;
  box-sizing: border-box;
  display: block;
  padding: 0px 34px 0px 34px;
}

.overlay-buttons {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}

.btn-creator-add-note,
.btn-creator-cancel {
  cursor: pointer;

  border: none;
  border-radius: 5px;

  color: #fff;
  background-color: #5843c0;
  font-size: 18px;
  font-weight: bold;
  padding: 14px 14px;
  margin: 25px auto;

  height: auto;
  width: auto;

  white-space: nowrap;

  -webkit-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.03);
  box-shadow: 1px 3px 6px 1.3px rgba(0, 0, 0, 0.13);
  transition: 0.3s;
}


.btn-creator-cancel {
  display: block;
  background-color: #907cf5;
  margin-left: auto;
}

.btn-creator-cancel:hover {
  background-color: #7867cc;
  outline: none;
}

.btn-creator-add-note:hover {
  background-color: #403091;
  outline: none;
}

.bg-blur {
  background-color: #ebebeb;
  position: absolute;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;

  transition: opacity 0.3s ease-in;
}

.bg-blur-front {
  z-index: 2;
  opacity: 0.75;
}

.bg-blur-gone {
  opacity: 0;
}

.btn-note-add:active,
.btn-tab-add:active,
.btn-creator-add-note:active,
.btn-creator-cancel:active,
.btn-caution-yes:active,
.btn-caution-no:active {
  transform: translateY(5%);
  cursor: pointer
}

a {
  text-decoration: none;
}